body {
    background-color: rgb(241, 239, 239);
    font-family: "comic Sans MS", sans-serif;
}

header {
    height: 130px;
    display: flex;
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
}

.logo {
    width: 120px;
    display: flex;
    p {
        display: flex;
        align-items: flex-end;
        font-size: 2rem;
        font-weight: bold;
        span {
            margin-left: 30px;
            font-size: 1rem;
            font-weight: lighter;
        }
    }
}

.navbar-nav {
    height: 100%;
    align-items: flex-end;
    margin-right: 30px;
}

.nav-item {
    margin-right: 60px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-link {
    color: black !important;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-decoration: none;
    color: black;
}

.teddies__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.table {
    font-size: 1rems;
    margin-bottom: 50px;
    &__base {
        border-bottom: 1px solid rgb(0, 0, 0) !important;
        font-size: 1.3rem !important;
    }
}

.legend {
    font-size: 1.3rem;
}

footer {
    border-top: 1px solid grey;
    padding-top: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            text-align: start;
        }
        img {
            margin-right: 80px;
        }
    }
}
