body {
    background-color: rgb(241, 239, 239);
    font-family: "comic Sans MS", sans-serif;
}

header {
    height: 130px;
    display: flex;
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
}

.logo {
    width: 120px;
    display: flex;
    p {
        display: flex;
        align-items: flex-end;
        font-size: 2rem;
        font-weight: bold;
        span {
            margin-left: 30px;
            font-size: 1rem;
            font-weight: lighter;
        }
    }
}

.nav-item {
    margin-right: 60px;
    font-size: large;
}
.container {
    width: 100%;
    height: 400px;
    background-color: blue;
}
footer {
    border-top: 1px solid grey;
    padding-top: 20px;
    margin-top: 30px;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            margin-right: 80px;
            margin-left: 80px;
        }
    }
}
